.navbar {
  width: 100%;
  color: var(--white);
  background-color: var(--editor-colour);

  padding: var(--padding-2) var(--padding-3) var(--padding-2) var(--padding-3);

  height: var(--nav-height);
  min-height: var(--nav-height);

  display: flex;
  justify-content: space-between;

  border-bottom: 0.1rem solid white;

  position: relative;
  z-index: var(--layer-3);
}

.buttonContainer button {
  width: 6rem;
  border-radius: var(--border-radius-3);
  background-color: transparent;
  border: 0.1rem solid var(--white);

  font-size: 1rem;
}

.buttonContainer button:hover {
  background-color: var(--toggle-hover-editor);
}

.navbar section {
  display: flex;
  align-items: center;
  gap: var(--padding-1);
}

.navbar section:hover {
  cursor: pointer;
  color: var(--white-hover);
}

.icon {
  height: var(--nav-image-height);
  /*box-shadow: 0 0 1rem 0.01rem rgba(255, 255, 255, 0.5);*/
}

.heading h1 {
  font-size: 1.1rem;
}

.heading p {
  font-size: 0.8rem;
  margin-top: -0.3rem;
  color: var(--light-grey);
}

/*=== Bottom Nav ===*/
.bottomNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--bottom-nav-height);
}

.prevContainer,
.nextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 100%;
}

.prevContainer button,
.nextContainer button {
  border: 0.01rem solid var(--accent-light);
  background-color: var(--accent);
  width: max-content !important;
  min-width: 12rem;
  height: var(--bottom-nav-buttons-height);

  font-size: var(--font-size-1);
  font-weight: 600;
  border-radius: var(--border-radius-1);
}

.bottomNavContainer button:hover {
  background-color: var(--accent-light);
  color: var(--accent);
}

.nextContainer {
  justify-content: flex-end; /* Positions next button to the right */
}

.prevContainer {
  justify-content: flex-start; /* Positions prev button to the left */
}

/*=== Profile Picture ===*/
.profileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: auto;
  height: var(--nav-image-height);
  border-radius: 50%;
  cursor: pointer;
}

.profileWrapper {
  position: relative;
  display: inline-block;
}

.menu {
  position: absolute;
  top: 3.2rem;
  right: 0;
  background-color: var(--dark-dark-grey);
  border-radius: var(--border-radius-1);
  padding: var(--padding-1);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  z-index: var(--layer-2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu button {
  width: 7rem;
  padding: 0.5rem 1rem;
  background: transparent;
  color: var(--white);
  border: 0.01rem solid var(--white);
  border-radius: var(--border-radius-1);
  cursor: pointer;

  font-family: Poppins, sans-serif;

  transition: 0.4s;
}

.menu button:hover {
  background: var(--toggle-hover-editor);
  color: var(--white);
}

.links {
  display: flex;
  gap: var(--padding-2);
}

.link {
  text-decoration: none;
  color: var(--white);
  font-family: Poppins, sans-serif;

  transition: color 0.7s ease-in-out;
}

.link:hover {
  color: var(--accent-light);
}

.active {
  text-decoration: none;
  color: var(--accent);
}

.leftSection {
  display: flex;
  align-items: center;
  gap: var(--padding-3);
}
