.navbar {
    width: 100%;
    color: var(--white);
    background-color: var(--editor-colour);

    padding: var(--padding-2) var(--padding-3) var(--padding-2) var(--padding-3);

    height: var(--nav-height);

    display: flex;
    justify-content: space-between;
}

.buttonContainer button {
    width: 6rem;
    border-radius: var(--border-radius-3);
    background-color: transparent;
    border: 0.1rem solid var(--white);

    font-size: 1rem;
}

.buttonContainer button:hover {
    background-color: var(--toggle-hover-editor);
}

.navbar section {
    display: flex;

    align-items: center;
    gap: 1rem;
}

.navbar section:hover {
    cursor: pointer;
    color: var(--white-hover);
}

.navbar img {
    width: 3rem;
}

.prevContainer,
.nextContainer {
    width: 100%;
    height: var(--editor-buttons-height);
    display: flex;
    align-items: center;
}

/*===Bottom Nav===*/
.bottomNavContainer {
    display: flex;
    position: relative;
}

.homeButtonContainer {
    display: flex;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;

    gap: var(--padding-025);
}

.homeButtonContainer button {
    background-color: var(--editor-colour);
}

.homeButtonContainer > button img {
    height: 2rem;
}

.homeButtonContainer > button {
    width: var(--editor-buttons-height);
    height: var(--editor-buttons-height);
    border: none;
}

.homeButtonContainer button:hover {
    background-color: var(--toggle-hover-editor);
}

.resetButtonContainer button {
    height: var(--editor-buttons-height);
}

.prevContainer img,
.nextContainer img {
    width: 2rem;
    height: 2rem;
    margin-right: var(--padding-025);
    background-color: var(--editor-colour);
    border-radius: 50%;
}

.prevContainer button,
.nextContainer button {
    background-color: var(--editor-colour);
}

.prevContainer button:hover,
.nextContainer button:hover {
    background-color: var(--toggle-hover-editor);
}

.nextContainer {
    justify-content: end;
}

.prevContainer {
    justify-content: space-between;
}

.prevContainer button,
.nextContainer button {
    width: 5rem;
}

.prevContainer p,
.nextContainer p {
    font-size: 1rem;
    font-weight: 500;
}