.problemPageContainer {
    height: 100vh;
    max-height: 100vh;
    max-width: var(--problem-page-container-max-width);

    justify-self: center;
    align-self: center;

    justify-content: space-between;

    display: flex;
    flex-direction: column;

    gap: var(--padding-2);

    padding: var(--padding-2);
}

.loadingContainer {
    width: 100vw;
    height: 100vh;

    margin-top: calc(-1 * var(--nav-height));

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    color: var(--white);
}

.dots::after {
    display: flex;
    align-items: end;

    content: "";
    width: 1em;
    text-align: left;
    animation: ellipsis steps(4, end) 1s infinite;
    overflow: hidden;
}

@keyframes ellipsis {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.containerWrapper {
    width: 100%;
    height: 100%;

    gap: var(--padding-1);
    display: flex;
}

.innerContainer {
    flex: 1;
    height: 100%;

    border-radius: var(--padding-3);

    display: flex;

    flex-direction: column;

    justify-content: space-between;
    gap: 0.5rem;
}

.prevContainer,
.nextContainer {
    width: 100%;
    height: var(--padding-3);
    display: flex;
    align-items: center;
}

.nextContainer {
    justify-content: end;
}

.prevContainer {
    justify-content: space-between;
}

.prevContainer button,
.nextContainer button {
    width: 5rem;
}

.prevContainer p,
.nextContainer p {
    font-size: 1rem;
    font-weight: 500;
}

.textEditorContainer {
    padding: var(--padding-2);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    background-color: var(--editor-colour);
}

.testSuiteContainer,
.textEditorContainer {
    height: 100%;
    border-radius: var(--border-radius-1);
    flex: 10;
    flex-direction: column;

    display: flex;
}

.testSuiteContainer {
    flex: 15;
    gap: var(--padding-1);
}

.testSuiteListContainer {
    min-height: 85vh;
    max-height: 85vh;
}

.buttonContainer {
    flex: 1;
    height: 3rem;
}

.buttonContainer button {
    height: 100%;
    border-radius: var(--border-radius-2);

    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.buttonContainer button:hover {
    transform: scale(1);
}
