.problemPageContainer {
    height: 100vh;
    max-height: 100vh;
    max-width: var(--problem-page-container-max-width);

    justify-self: center;
    align-self: center;

    justify-content: space-between;

    display: flex;
    flex-direction: column;

    gap: var(--padding-025);

    padding: var(--padding-2);
}

.loadingContainer {
    width: 100vw;
    height: 100vh;

    margin-top: calc(-1 * var(--nav-height));

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    color: var(--white);
}

.dots::after {
    display: flex;
    align-items: end;

    content: "";
    width: 1em;
    text-align: left;
    animation: ellipsis steps(4, end) 1s infinite;
    overflow: hidden;
}

@keyframes ellipsis {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.containerWrapper {
    width: 100%;
    height: 100%;

    gap: var(--padding-1);
    display: flex;
}

.innerContainer {
    flex: 1;
    height: 100%;

    border-radius: var(--padding-3);

    display: flex;

    flex-direction: column;

    justify-content: space-between;
    gap: 0.25rem;
}

.textEditorContainer {
    height: 100%;
    padding: var(--padding-2);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    background-color: var(--editor-colour);
}

.testSuiteContainer,
.textEditorContainer {
    height: 100%;
    border-radius: var(--border-radius-1);
    flex: 10;
    flex-direction: column;

    display: flex;
}

.testSuiteContainer {
    flex: 15;
    gap: var(--padding-1);
}

.testSuiteContainer {
    min-height: var(--container-max-height);
    max-height: var(--container-max-height);
    background-color: var(--editor-colour);
}

.buttonContainer {
    flex: 1;

    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: space-between;
    height: auto;

    font-size: 0.8rem;
    font-weight: 500;
}

.buttonContainer button {
    height: var(--editor-buttons-height);
    border-radius: var(--border-radius-1);

    font-family: "Poppins", sans-serif;
    width: auto;

    background-color: var(--editor-colour);

    display: flex;
    align-items: center;

    transition: 0.4s;

    font-size: 0.8rem;
    font-weight: 500;
}

.buttonContainer button:hover {
    transform: scale(1);
    background-color: var(--dark-dark-grey);
}

.leftButtons {
    display: flex;

    gap: var(--padding-025);
}

.restartButton button {
    width: var(--editor-buttons-height);
    height: var(--editor-buttons-height);
}

.toggleContainer {
    display: flex;

    gap: var(--padding-025);
}
