.problemPageContainer {
    height: calc(100vh - var(--nav-height));
    max-height: calc(100vh - var(--nav-height));

    width: 100%;
    max-width: var(--page-container-max-width);

    justify-self: center;
    align-self: center;

    justify-content: space-between;

    display: flex;
    flex-direction: column;


    padding-top: var(--padding-3);
    background-color: var(--editor-colour);
}

.loadingContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    color: var(--white);
    background-color: var(--editor-colour);
}

.containerWrapper {
    width: 100%;
    height: 100%;

    gap: var(--padding-3);
    display: flex;
}

.rightContainer,
.leftContainer {
    /*height: var(--container-max-height);*/
    /*max-height: var(--container-max-height);*/
    max-height: 100%;
    height: 100%;

    border-radius: var(--padding-3);

    display: flex;
    flex-direction: column;

    background-color: red;
}

.leftContainer {
    flex: 3;
    justify-content: space-between;
}

.rightContainer {
    flex: 4;
    gap: var(--padding-1);
}

.toggleButtonContainer {
    height: var(--editor-buttons-height);
}

.testSuiteContainer {
    height: 100%;
    border-radius: var(--border-radius-1);
    flex: 10;
    flex-direction: column;

    display: flex;
}

.testSuiteContainer {
    flex: 15;
    gap: var(--padding-1);
}

.testSuiteContainer {
    min-height: var(--container-max-height);
    max-height: var(--container-max-height);
    background-color: var(--editor-colour);
}

.buttonContainer {
    flex: 1;

    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    font-size: 0.8rem;
    font-weight: 500;
}

.buttonContainer button {
    height: var(--editor-buttons-height);
    border-radius: var(--border-radius-1);

    border: 0.01rem solid var(--dark-dark-grey);

    font-family: "Poppins", sans-serif;
    width: auto;

    background-color: var(--editor-colour);

    display: flex;
    align-items: center;

    transition: 0.4s;

    font-size: 0.8rem;
    font-weight: 500;
}

.buttonContainer button:hover {
    transform: scale(1);
    background-color: var(--dark-dark-grey);
}

.leftButtons {
    display: flex;

    gap: var(--padding-025);
}

.restartButton button {
    width: var(--editor-buttons-height);
    height: var(--editor-buttons-height);
}

.toggleContainer {
    display: flex;

    gap: var(--padding-025);
}
