.problemListContainer {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 1rem;

  width: var(--problem-list-max-width);
  max-width: var(--problem-list-max-width);

  border-radius: var(--border-radius-1);
  max-height: var(--problem-list-max-height);
}

.problemListContainer h1 {
  color: var(--white);
}

.table {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border-radius: var(--border-radius-1);
  overflow: hidden;

  color: var(--white);
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: var(--layer-3);
  background: var(--editor-colour);
}

.stickyHeader::before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--padding-2));
  left: 0;
  right: 0;
  height: var(--padding-2);
  background: var(--editor-colour);
  pointer-events: none;
}

.headerRow {
  font-weight: bold;

  padding-top: var(--padding-025);
  margin-bottom: var(--padding-1);
  border-radius: var(--padding-1) var(--padding-1) 0 0 !important;
  border-bottom: var(--white) 0.2rem solid;
  background-color: var(--toggle-hover-editor) !important;
  display: flex;
}

.status {
  flex: 1;
  padding: var(--padding-1);
  text-align: center;
  color: var(--pass-green);
}

.row {
  display: flex;
  cursor: pointer;

  padding-top: var(--padding-025);
  padding-bottom: var(--padding-025);
  border-radius: var(--padding-1);

  transition: 0.4s;
}

.status,
.row,
.cell,
.rowNumber,
.problemLang,
.problemType {
  align-items: center;
  display: flex;
}

.status {
  justify-content: center;
}

.cell {
  flex: 15;
  padding: var(--padding-1);
}

.problemLang,
.problemType {
  flex: 3;
}

.status,
.rowNumber {
  flex: 1;
}

.problemLang {
  padding: var(--padding-1);
}

.problemType {
  padding: var(--padding-1);
}

.rowNumber {
  padding: var(--padding-1);
  padding-right: 0;
}

.empty {
  height: 2rem;
  background-color: var(--grey);
  padding: var(--padding-1);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
}
