.problemListContainer {
    display: flex;
    flex-direction: column;

    height: 100%;
    gap: 1rem;
}

.problemListContainer h1 {
    color: var(--white);
}

.table {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border-radius: var(--border-radius-1);
    overflow: hidden;

    color: var(--white);
}

.headerRow {
    font-weight: bold;

    padding-top: var(--padding-025);
    padding-bottom: var(--padding-025);
    border-radius: var(--padding-1) var(--padding-1) 0 0;
    border-bottom: var(--white) 0.2rem solid;
    background-color: var(--toggle-hover-editor);
    display: flex;
}

.row {
    display: flex;
    cursor: pointer;

    padding-top: var(--padding-025);
    padding-bottom: var(--padding-025);
    border-radius: var(--padding-1);

    transition: 0.4s;
}

.row:nth-child(odd) {
    background-color: var(--toggle-hover-editor);
}

.row:nth-child(even) {
    background-color: var(--dark-grey);
}


.row:nth-child(odd):hover {
    background-color: var(--dark-dark-grey);
}

.row:nth-child(even):hover {
    background-color: var(--less-dark-grey);
}

.cell {
    flex: 5;
    padding: var(--padding-1);
}

.problemLang {
    flex: 1;
    padding: var(--padding-1);
}

.problemType {
    flex: 1;
    padding: var(--padding-1);
}

.rowNumber {
    padding: var(--padding-1);
    padding-right: 0;
    padding-left: var(--padding-4);
}

.empty {
    height: 2rem;
    background-color: var(--grey);
    padding: var(--padding-1);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
}
