.chatWrapper {
    display: flex;
    flex-direction: column;
}

.chatApp {
    display: flex;
    flex-direction: column;
    background-color: var(--editor-colour);
    border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);

    height: var(
            --chat-box-height
    );

    padding: var(--padding-2);
    gap: 0.25rem;
}

.icon {
    position: absolute;
    left: var(--padding-3);

    display: flex;
    justify-content: center;
}

/*=== CLIENT ICON (HARDCODED)===*/
.clientAvatar {
    position: absolute;
    right: var(--padding-3);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;

    border: 0.1rem solid var(--black);
    border-radius: 50%;

    overflow: hidden;

    z-index: var(--layer-1);
}

.clientAvatar img {
    height: 2rem;
    object-fit: cover;
}

.status {
    position: absolute;
    z-index: var(--layer-2);

    /*===HARDCODED BASED ON HEIGHT OF HEADER===*/
    right: 3.5rem;
    top: 1.8rem;

    background-color: var(--online-green);
    border: 2px solid var(--black);

    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
}

.inputContainer {
    display: flex;
    gap: 0.5rem;
    height: 3rem;
}

.inputContainer input {
    flex: 8;
    border-radius: var(--border-radius-2);

    background-color: var(--toggle-hover-editor);
    color: var(--white);
}

.inputContainer button {
    flex: 1;
    border-radius: var(--border-radius-2);

    background-color: var(--toggle-hover-editor);
}

.inputContainer button:hover {
    background-color: var(--toggle-hover-editor);
    border: var(--black);
}

.chatBody {
    height: 100%;
    overflow-y: scroll;

    box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    scroll-behavior: smooth;
}

/*===CHAT BUBBLE===*/
.bubbleContainer {
    padding: var(--padding-1);
    max-width: 100%;

    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    gap: var(--padding-1);
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;

    margin-bottom: 1.1rem;
}

.avatarContainer img {
    height: 2rem;
    border-radius: 50%;
}

.chatMessage {
    border-radius: var(--border-radius-2);
    padding: var(--padding-175);

    font-size: 0.8rem;

    max-width: 75%;

    white-space: pre-wrap;
}

.chatBubble {
    width: 100%;
}

.chatTimestamp {
    font-size: 0.6rem;
    color: var(--white);

    /* styling is dynamic*/
}

.assistant {
    background: linear-gradient(to right, #bb94ff, #ca43ff);
    justify-self: start;
    padding-left: var(--padding-2);
}

.user {
    background: var(--white);
    justify-self: end;
    padding-right: var(--padding-2);
}

/*===AI Agent===*/
.agentContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    min-height: var(--ai-agent-box-height);

    background-color: var(--grey);
    border-radius: var(--border-radius-1);
}

.agentBody {
    padding: var(--padding-2);
    height: 100%;
    display: flex;

    gap: var(--padding-2);

    background-color: var(--editor-colour);
    border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}

.agentBody textarea {
    flex: 4;

    border-radius: var(--border-radius-3);
    padding: var(--padding-2);
    font-family: "Poppins", sans-serif;
    background-color: var(--toggle-hover-editor);
    color: var(--white);
}

.agentBody textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.buttonContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.agentBody button {
    height: 3rem;
    border-radius: var(--border-radius-3);

    background-color: var(--button-green);

    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.agentBody button:hover {
    background-color: var(--hover-green);
}
