.textArea {
    border: none;
    border-radius: var(--border-radius-1);

    width: 100%;
    padding: var(--padding-1);

    overflow-y: scroll;
}

.textArea:focus {
    outline: none;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--hover-blue);
}