.pageContainer {
    display: flex;
    flex-direction: column;
    padding: var(--padding-3);

    width: 100%;
    height: 5000vh;

    justify-content: center;
    align-items: center;
}

.pageContainer h1 {
    font-size: 1.5rem;
}

.pageContainer p {
    font-size: 1rem;
}

/* TEMP CSS FOR BUTTONS */
.pageContainer .buttonContainer {
    gap: 3rem;
}

.questionCreatorContainer {
    border-radius: var(--padding-2);
    padding: var(--padding-3);

    width: 100%;
    max-width: 60vw;
    height: 100%;

    background-color: var(--dark-dark-grey);

    box-shadow: 0 0 0.5rem rgba(252, 252, 252, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1rem;
}

.modelSolutionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding-1);
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.problemStatementContainer,
.testSuiteContainer,
.constraintsContainer {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--padding-1);
}

