.oracleWrapper {
    height: 100%;
    background-color: var(--toggle-hover-editor);
    border-radius: var(--border-radius-1);

    display: flex;
    flex-direction: column;
}

.oracle {
    padding: var(--padding-175);

    display: flex;
    flex-direction: column;
    height: 100%;

    gap: var(--padding-1);
}

.oracle textarea {
    background-color: var(--oracle-grey);
    border-radius: var(--border-radius-2);

    padding: var(--padding-2);
    color: var(--black);

    height: 100%;
}

.oracle textarea::placeholder {
    font-family: "Poppins", sans-serif;
    color: var(--dark-grey);
}

.header {
    padding: var(--padding-2);
    background-color: var(--white);

    border-radius: var(--border-radius-5);
    box-shadow: 0 0 0.6rem black;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    left: var(--padding-3);

    display: flex;
    justify-content: center;

    width: 2rem;
    height: 2rem;
}

.icon img {
    object-fit: cover;
}

.editorContainer {
    display: flex;
    gap: var(--padding-1);

    height: auto;
    width: 100%;
}

.editorWrapper {
    width: 100%;

    border-radius: var(--border-radius-2);
    height: 100%;
    overflow: hidden;

    padding: var(--padding-1);
    background-color: var(--editor-colour);
}

.outputContainer {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    gap: var(--padding-1);
}

.outputContainer textarea {
    position: absolute;
    flex: 5;
    height: 100%;

    background-color: var(--dark-dark-grey);
    color: var(--white);
}

.outputContainer button {
    position: absolute;
    right: 0;


    flex: 1;
    width: 5rem;
    height: 100%;

    border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;

    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    background-color: var(--button-green);

}

.outputContainer button:hover {
    background-color: var(--hover-green);
    transform: scale(1);
}