.header {
    flex: 0 0 auto;
    background-color: var(--white);
    box-shadow: 0 0 0.3rem black;
    border-radius: var(--border-radius-5);
    padding: var(--padding-2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    border-radius: 50%;
    background-color: var(--red);
    height: 3rem;
    width: 3rem;

    position: absolute;
    left: var(--padding-2);
}

.header {
    padding: var(--padding-2);
    background-color: var(--white);

    border-radius: var(--border-radius-5);
    box-shadow: 0 0 0.6rem black;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText p {
    margin-top: -0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}
