.header {
    padding: var(--padding-1);
    background-color: var(--dark-dark-grey);

    border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-height: 3rem;
    max-height: 3rem;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);
}

.headerText h2 {
    font-size: 1rem;
}

.headerText p {
    margin-top: -0.5rem;
    font-weight: 300;
    font-size: 0.7rem;
}
