.testContainer {
  /*Goofy solution for now*/
  height: calc(0.68 * 100vh);
  max-height: calc(0.68 * 100vh);

  border-radius: var(--border-radius-2);
  display: flex;

  flex-direction: column;

  font-family: "JetBrains Mono", sans-serif;

  padding: var(--padding-1);

  overflow-y: scroll;

  /*Hide scroll bar track*/
  scrollbar-width: thin;

  gap: var(--padding-025);
}

.testCase {
  padding: var(--padding-2);
  border-radius: var(--border-radius-2);

  background-color: var(--light-white);

  display: flex;
  flex-direction: column;

  gap: var(--padding-025);

  margin: var(--padding-025);
}

.pass {
  background-color: var(--pass-green);
}

.fail {
  background-color: var(--fail-red);
}

.passLight {
  background-color: var(--pass-green-light);
}

.failLight {
  background-color: var(--fail-red-light);
}

.pill.compile {
  background: #fef3c7;
  color: #92400e;
  border: 1px solid var(--caution-yellow);
}

.expectedBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--transparent-grey);
}

.expectedBlock textarea:focus {
  box-shadow: none;
}

.explanationBlock,
.actualBlock {
  background-color: var(--transparent-grey);
}

.explanationBlock p {
  font-size: 0.8rem;
}

.explanationBlock,
.actualBlock,
.expectedBlock {
  font-size: 0.8rem;
  font-family: "JetBrains Mono", serif;
  border-radius: var(--border-radius-1);
  padding: var(--padding-1);
}

.testHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.testHeader h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.testHeader p {
  font-size: 0.8rem;
}

.testHeaderActions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.addButtonContainer {
  align-self: end;
  justify-self: end;
}

/*===STUDENT VIEW===*/
.testDetail {
  background: var(--dark-dark-grey);
  border-radius: var(--border-radius-1);
  font-size: 0.8rem;

  transition: 0.4s;
  color: var(--white);

  height: 100%;
  width: 100%;
  max-height: max-content;
}

.testDetail:hover {
  background: var(--toggle-hover-editor);
}

.hidden {
  background-color: var(--toggle-hover-editor);
  cursor: not-allowed;
}

.hidden:hover {
  background-color: var(--toggle-hover-editor);
}

.testDetail summary {
  padding: var(--padding-1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.testDetail summary h1 {
  font-size: 1rem;
  font-weight: bolder;
}

.testDetail .detailContent {
  padding: var(--padding-1);
  border-top: 0.1rem solid var(--white);

  height: 100%;
  width: 100%;
}

.pill {
  border-radius: var(--border-radius-3);
  padding: var(--padding-025) var(--padding-1);
  height: 100%;
}

.locked {
  display: flex;
  align-items: center;
  gap: var(--padding-1);
}
