.testContainer {
    height: 100%;

    border-radius: var(--border-radius-2);

    display: flex;
    flex: 1;

    flex-direction: column;

    font-family: "JetBrains Mono", sans-serif;

    padding: var(--padding-1);

    overflow-y: scroll;

    /*Hide scroll bar track*/
    scrollbar-width: thin;
    scrollbar-color: var(--dark-grey) transparent;

    gap: var(--padding-025);
}

.testCase {
    padding: var(--padding-2);
    border-radius: var(--border-radius-2);

    background-color: var(--light-white);

    display: flex;
    flex-direction: column;

    gap: var(--padding-025);

    margin: var(--padding-025);
}

.pass {
    background-color: var(--pass-green);
}

.fail {
    background-color: var(--fail-red);
}

.passLight {
    background-color: var(--pass-green-light);
}

.failLight {
    background-color: var(--fail-red-light);
}

.expectedBlock {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--transparent-grey);
}

.expectedBlock textarea:focus {
    box-shadow: none;
}

.actualBlock {
    background-color: var(--transparent-grey);
}

.actualBlock,
.expectedBlock {
    font-size: 0.8rem;
    font-family: "JetBrains Mono", serif;
    border-radius: var(--border-radius-1);
    padding: var(--padding-1);
}

.testHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.addButtonContainer {
    align-self: end;
    justify-self: end;
}

/*===STUDENT VIEW===*/
.testDetail {
    background: var(--dark-dark-grey);
    border-radius: var(--border-radius-1);
    font-size: 0.8rem;

    transition: 0.4s;
    color: var(--white);
}

.testDetail:hover {
    background: var(--toggle-hover-editor-light);
}

.testDetail summary {
    padding: var(--padding-1);
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.testDetail summary h1 {
    font-size: 1rem;
    font-weight: bolder;
}

.testDetail .detailContent {
    padding: var(--padding-1);
    border-top: 0.1rem solid var(--white);
}

.pill {
    border-radius: var(--border-radius-3);
    padding: var(--padding-1);
}
